
    <section class="give-hero-img">
      <div class="container">
        <h1>Tithes / Offerings</h1>
      </div>
    </section>

    <section class="give">
      <div class="container">
        <section class="tithe-section">
        <h2>How to Give</h2>
          <p>Asbury Broadneck United Methodist Church offers four convienient methods to <a class="give-link" href="why-give.html">support our church.</a> Please take advantage of one of these methods so that we can continue to do the work of our Lord and work in our community.</p>
        </section>

        <section class="tithe-section">
          <h2>Online Giving</h2>
          <p>With online giving anyone can pay tithes and give offerings to our church electronically. This means that you can pay tithes and offerings from your personal computer, your tablet, and your smart phone from anywhere. And because paying anything online electronically is always risky, we have encrypted our entire website to keep all the information on this site secure (notice the https). We have also decided to use <a href="http://stripe.com">Stripe</a> as our payment gateway for all electronic transactions on our website. <a href="http://stripe.com">Stripe</a> is the number one and the best service provider for all online transactions.</p>

          <div class="give-now-btn btn">
            <a href="#">Give Now</a>
          </div>
        </section>

        <section class="tithe-section">
          <h2>In Person</h2>
          <p>Every Sunday, we collect tithes and offerings during our Sunday Worship Serive. You can pay tithes and give offerings at the time it is announced in church.</p>
        </section>

        <section class="tithe-section">
          <h2>By Mail</h2>
          <p>You can pay tithes and give offerings through the mail.</p><p>Please mail it to our church at:</p>
          <address class="give-page">
          <span>Asbury Broadneck United Methodist Church</span>
          <span>657 Broadneck Road</span>
          <span>Annapolis MD 21409</span>
          </address>
          <p>Please also indicate if the funds are for tithes or offerings, and <span class="underline-text">do not mail cash.</span></p>
        </section>

        <section class="tithe-section">
          <h2>Through Your Bank</h2>
          <p>Asbury Broadneck United Methodist Church also accepts tithes and offerings paid through your bank. To learn how to pay tithes and offerings through your bank, <a href="#">click here</a> or the the button below.</p>
          <div class="learn-more-btn-give btn">
            <a href="#">Learn How</a>
          </div>
        </section>

        <section class="tithe-section">
          <h2>Questions about Giving?</h2>
          <p>Seamlessly morph low-risk high-yield intellectual capital without highly efficient web services. Seamlessly facilitate ethical metrics vis-a-vis collaborative communities. Proactively coordinate premier systems vis-a-vis e-business intellectual capital. Uniquely productize efficient materials vis-a-vis reliable leadership skills. Holisticly monetize web-enabled markets without technically sound users.</p>
          <div class="learn-more-btn-give btn">
            <a href="#">Ask Here</a>
          </div>
        </section>
      </div>
    </section>
    
    <section class="support-our-church">
      <div class="container">
        <h2>Support Our Church</h2>
        <div class="give-img">
          <%= link_to image_tag("give-btn.svg"), pages_give_path %></a>
        </div>
        <div class="learn-more-btn btn">
          <%= link_to 'Learn More', pages_give_path %>
        </div>
      </div>
    </section>


