
    <section class="history-hero-img">
      <div class="container">
        <h1>History</h1>
      </div>
    </section>

    <section class="history">
      <div class="container">
        <h1 class="section-title">Our Church History</h1>
        <p><span class="firstcharacter">A</span> sbury Broadneck United Methodist Church is an historical African American church.  It is reported that the church began  before 1851 when enslaved men of African decent started meeting at a placed called "Old School House Hill" to praise God in their own way.  This was before they could afford a church house.  But, the first church was built only yards from the original meeting location on St. Margaret's Road, which is now Meeting House Lane south of Route 50 east of Annapolis, MD.</p>

        <p>The trustees of the first church house were:  Henry Barnes, Philip Dorsey, Nance Hawkins, David Johnson  and Henry Wright.  On October 9, 1851 members of the church paid $60 for land and the first church building. The purchase was made from Samuel Richardson.</p>

        <p>The second church house was build on a piece of land purchased March 21, 1865.  An organization within the church known as "The Sons and Daughters of Joshua" donated the third piece of land where the current church is located.</p>

        <p>Early on the church was known as "Broadneck Church".  But as far back as the mid 1800's the church was under the leadership of the Asbury Annapolis Church, and the church was referred to as "Little Asbury".  The pastors of Asbury Annapolis ministered to the congregation at Little Asbury.  This lasted until 1873. The association lead to the church later being named "Asbury Broadneck Methodist Episcopal Church".  Reverend Isaac (Ike) E. Johnson, who was a lay pastor at the time, became the first  on-site pastor after the association with Asbury Annapolis.</p>
      </div>
    </section>

    <section class="support-our-church">
      <div class="container">
        <h2>Support Our Church</h2>
        <div class="give-img">
          <%= link_to image_tag("give-btn.svg"), pages_give_path %></a>
        </div>
        <div class="learn-more-btn btn">
          <%= link_to 'Learn More', pages_give_path %>
        </div>
      </div>
    </section>


