
    <section class="pastor-hero-img">
      <div class="container">
        <h1>Our Pastor</h1>
      </div>
    </section>

    <section class="pastor">
      <div class="container">
        <h2>Rev. Stephen A. Tillett</h2>

        <div class="rev-section group">
      
          <img class="pastor-img" src="img/tillet.jpg" />

          <ul class="churches-served">
            <h3>Churches Served</h3>
            <li>Asbury Broadneck, Annapolis, MD (July 1, 2004 to Present)</li>
            <li>Mt. Zion, Baltimore, MD (July 1, 1996 to June 30, 2004)</li>
            <li>Petworth, Washington, DC (July 1, 1992 to June 30, 1996)</li>
            <li>Bradbury Heights, Washington, DC  (Jan. 1, 1990 to June 30,1996)</li>
          </ul>

        </div>

        <p><span class="firstcharacter">S</span> tephen Andrew Tillett was born and reared in Washington, D.C. He graduated from St. John's College High School in Washington. He received his foundational Christian nurture and education at Asbury United Methodist Church in Washington, D.C.</p>

        <p>Brother Tillett received a B.A. from the School of Government and Public Administration at The American University. He attended the Howard University School of Divinity and received the Master's of Divinity degree.</p>

        <p>He has served as the pastor of First United Methodist Church (UMC), Bradbury Heights in Washington, D.C. He also served as the pastor of Petworth UMC also in Washington.</p>

        <p>After serving these two churches, Brother Tillett was appointed to serve as pastor of Mt. Zion UMC in Baltimore, MD in July 1996.</p>

        <p>Another opportunity for ministry presented itself at around the same time. Brother Tillett was commissioned as a Chaplain in the Air National Guard in December 1996. Lt Col Tillett served as the Wing Chaplain for the 113th Air Wing, which is located at Andrews Air Force Base in Maryland, where he functioned as the senior pastor for a “congregation” of over eleven hundred men and women. He was also the Deputy State Chaplain for Air for the DC National Guard. In May of 2012, Lt Col Tillett transferred to the US Air Force Reserve as an IMA (Individual Mobilization Augmentee) to the Wing Chaplain at the 4th Fighter Wing as Seymour Johnson AFB in Goldsboro, NC.</p>

        <p>In July 2004, Rev. Tillett was appointed as the pastor of <a href="index.html">Asbury Broadneck UMC in Annapolis, MD.</a></p>

        <p>He has been blessed by God with three children, Drew (Stephen A. II) an aspiring musician and music producer and Lena (Charlena), who is pursuing a Master’s degree in Broadcast Journalism at New York University. He and his wife, Sherita, are the proud parents of Sophia Grace.</p>

        <p>He continues to be led by the advice of his late grandmother, Mrs. Josephine Brooks Johnson, who would always say, "say your prayers and do what's right." He hopes our ancestors take comfort in the things we aspire to today.</p>

        <p>A key area of focus of the ministry is to address the inequities in the criminal justice system by establishing a comprehensive and sustainable ministry to those who are incarcerated and mentorship for their young family members. 
        One of his favorite scriptures is Psalm 146:1-4 (NIV):</p>

        <ol>
          <li>Praise the LORD. Praise the LORD, O my soul.</li>
          <li>I will praise the LORD all my life; I will sing praise to my God as long as I live.</li>
          <li>Do not put your trust in princes, in mortal men, who cannot save.</li>
          <li>When their spirit departs, they return to the ground; on that very day their plans come to nothing.</li>
        </ol>

        <p>His favorite pastimes include bowling, reading, writing, current events, singing and travel.</p>
      
      </div>
    </section>

    <section class="support-our-church">
      <div class="container">
        <h2>Support Our Church</h2>
        <div class="give-img">
          <%= link_to image_tag("give-btn.svg"), pages_give_path %></a>
        </div>
        <div class="learn-more-btn btn">
          <%= link_to 'Learn More', pages_give_path %>
        </div>
      </div>
    </section>

