// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


section.blog-hero-img {
	height: auto;
}

.date-author {
	text-align: center;
}

p.author,
p.blog-date {
	display: inline-block;
	font-size: 1rem;
	margin-bottom: 0.2rem;
}

h1.blog-title {
	margin-bottom: 0.2rem;
}
