    <footer class="footer">
      <div class="container">
        <p>Asbury Broadneck United Methodist Church</p>
        <p> &copy; <%= Time.now.year %></p>
      </div>
    </footer>

    <%= render "layouts/scriptFiles" %>
  </body>
</html>