
    <header>
      <div class="header group">
        <%= link_to 'ABUMC', root_path, id: "logo" %></a>
        <div id="menu-btn">
          <i class="fa fa-bars"></i>
        </div>
      </div>
      <nav>
        <ul class="nav">
          <li><a class="dropdown-menu" href="#">About</a>
            <ul class="dropdown-content">
            <li><%= link_to 'History', pages_history_path %></li>
            <li><%= link_to 'Our Pastor', pages_our_pastor_path %></li>
            <li></li>
            <li><%= link_to 'Giving', pages_give_path %></li>
              <li><a href="tithe.html">Giving</a></li>
              <li><a href="https://www.google.com/maps/dir//Asbury+Broadneck+United+Methodist,+Annapolis,+MD+21409/@39.0285058,-76.4870098,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x89b802a964fb69cf:0x55bd37656c10f733!2m2!1d-76.4519046!2d39.0284444">Directions</a></li>
            </ul>
          </li>
          <li><a href="sermons.html">Sermons</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="give.html">Give</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>