<section class="support-our-church">
  <div class="container">
    <h2>Support Our Church</h2>
    <div class="give-img">
      <%= link_to image_tag("give-btn.svg"), pages_give_path %></a>
    </div>
    <div class="learn-more-btn btn">
      <%= link_to 'Learn More', pages_give_path %>
    </div>
  </div>
</section>